@import "../../styles/rwd";

.main-how {
  background-color: #9da0ef;
  overflow: hidden;

  &-subtitle {
    margin-top: 12px;

    .primary-title-content .title {
      font-size: 30px;
      @include mobile {
        font-size: 18px;
      }
    }
  }

  &-part__1 {
    margin-top: 12px;
    padding: 0 24px;
  }

  .scroll-down {
    margin: 24px 0;
  }
}

.main-how-part__1 .part-1 {
  &-header {
    position: relative;
    background-color: rgba(225, 225, 225, .3);
    padding: 12px;
    width: 600px;

    .middle .content {
      font-weight: bold;
      font-size: 25px;
      line-height: 35px;

      &:not(:first-child) {
        margin-top: 24px;
      }
    }

    .left .item, .right .item {
      position: absolute;
      width: 100px;
      bottom: -80px;

      img {
        width: 100%;
      }
    }

    .left .item {
      left: -70px;

      img {
        transform: rotate(80deg) scaleY(-1);
      }
    }

    .right .item {
      right: -70px;

      img {
        transform: rotate(100deg);
      }
    }

    @include desktop {
      .left .item {
        left: -60px;

        img {
          transform: rotate(70deg) scaleY(-1);
        }
      }

      .right .item {
        right: -60px;

        img {
          transform: rotate(110deg);
        }
      }
    }
    @include wide-desktop {
      .left .item {
        left: -70px;

        img {
          transform: rotate(80deg) scaleY(-1);
        }
      }

      .right .item {
        right: -70px;

        img {
          transform: rotate(100deg);
        }
      }
    }
  }

  &-sections {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 100%;
    height: 100%;

    &:nth-child(3) {
      .section-item {
        margin-top: 103px;

        .arrow-item {
          width: 150px;
          bottom: -150px;

          .left-arrow {
            transform: rotate(35deg) scaleY(-1);
          }

          .right-arrow {
            transform: rotate(145deg);
          }
        }
      }
    }

    &:nth-child(4) {
      grid-template-columns: 1fr;

      .section-item {
        margin-top: unset;
      }
    }

    .section-item {
      position: relative;
      margin-top: 80px;
      padding-top: 60px;
      width: 100%;
      min-height: 510px;

      &-container {
        width: 440px;
        min-height: 100%;
        background: url("../../assets/shapes/howItemShape.png") no-repeat center;
        background-size: 100% 100%;
        position: relative;
      }

      &-number, &-content {
        z-index: 1;
        position: relative;
      }

      &-number {
        position: relative;

        .number-container {
          position: absolute;
          width: 78px;
          height: 78px;
          background-color: #000000;
          border-radius: 100%;
          left: 50%;
          transform: translateX(-50%);
          top: -60px;

          .number {
            color: #C9C9C9;
            font-weight: bold;
            font-size: 40px;
            text-align: center;
          }
        }
      }

      &-content {
        padding: 30px 36px 36px;
        height: 100%;

        .content {
          color: #ffffff;
          font-size: 25px;
          text-align: justify;
          line-height: 35px;
        }
      }

      .arrow-item {
        width: 100px;
        position: absolute;
        bottom: -100px;
        left: 50%;
        transform: translateX(-50%);

        img {
          width: 100%;
        }

        .left-arrow {
          transform: rotate(85deg) scaleY(-1);
        }

        .right-arrow {
          transform: rotate(95deg);
        }
      }
    }
  }
}

.main-how-section__2 {
  .part-1-sections:nth-child(4) {
    .section-item-container {
      width: 600px !important;
    }

    .section-item-content {
      padding: 30px 50px 36px;
    }
  }

  @include desktop {
    .part-1-sections:nth-child(3) {
      .arrow-item-left {
        left: 30%;
        transform: translateX(-30%);
      }

      .arrow-item-right {
        right: 20%;
        transform: translateX(-20%);
      }
    }
  }

  @include wide-desktop {
    .part-1-sections:nth-child(3) {
      .arrow-item-left {
        left: 70%;
        transform: translateX(-70%);
      }

      .arrow-item-right {
        left: 30%;
        transform: translateX(-30%);
      }
    }
  }
}