@import '../../styles/rwd';

.login-page {
  background-color: #F5F7FB;
}

.login-page-container {
  min-height: 100vh;
}

.login-form-container {
  @include mobile {
    order: 2;
  }
}

.login-form-container .login-form-box {
  width: 70%;

  .login-form-title .title {
    font-weight: bold;
    font-size: 55px;
    margin-bottom: 24px;
  }

  @include mobile {
    width: 100%;
    .login-form-title .title {
      text-align: center;
      font-size: 35px;
    }
  }
}

.form-container {
  margin-top: 24px;

  .field-container {
    display: flex;
    flex-direction: column;
    margin-bottom: 12px;
    position: relative;

    label {
      font-weight: bold;
      margin-bottom: 12px;
    }

    .input-field {
      border: none;
      outline: none;
      padding: 12px;
      border-radius: 12px;
      margin-bottom: 24px;
    }

    .error-message {
      color: red;
      display: block;
      position: absolute;
      bottom: 0;
      transition: .1s;
      right: 0;

      &:first-letter {
        text-transform: capitalize;
      }
    }
  }

  .login-button {
    width: 100%;
    padding: 12px;
    border: none;
    outline: none;
    background-color: rgb(31, 62, 220);
    color: #ffffff;
    text-align: center;
    border-radius: 12px;
  }
}

.login-page-bg {
  img {
    width: 100%;
  }

  @include mobile {
    order: 1;
  }
}